<!-- INFO BOX -->
<style>
      .info-box {
            font-size: 30px;
            font-family: sans-serif;
            font-weight: bold;
            border: 2px solid red;
            height: 100%;
      }
</style>
<!-- {{}} to put values in elements-->
<div class="info-box">
      <ul>
            <li>Country Name: {{countryId}} </li>
            <li>Country Income: {{countryIncome}} </li>
            <li>Capital City: {{countryCapital}} </li>
            <li>Longitude: {{countryLongitude}} </li>
            <li>Latitude: {{countryLatitude}} </li>
            <li>Region: {{countryRegion}}</li>
      </ul>
</div>
    